<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Registration</title>
</head>
<body background="https://rawgit.com/digvijaykumaryarlagadda/Web_application/master/Source/background/register_background.jpg">
<h1 style="color:navajowhite">Sign up to avail navigation and weather information services.</h1>

<form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label   style="color:navajowhite" for="username">First name</label>&nbsp;&nbsp;
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <br /> <label  style="color:navajowhite"  for="username">Last name</label>&nbsp;&nbsp;
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.lastName" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <br /> <label   style="color:navajowhite" for="username">Username</label>&nbsp;&nbsp;
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <br /><label   style="color:navajowhite" for="password">Password</label>&nbsp;&nbsp;
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
        </div>

        <div class="form-actions">
            <br />&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            &nbsp;&nbsp;&nbsp;&nbsp;<a style="color:navajowhite" href="#/login" class="btn btn-link">Cancel</a>
        </div>

</form>
</body>
</html>